[tool.black]
line-length=80

[tool.isort]
import_heading_firstparty = "Library"
import_heading_future = "Futures"
import_heading_local = "Local"
import_heading_stdlib = "Standard Library"
import_heading_thirdparty = "Third Party"
indent = 4
known_first_party = "myapp"
lines_after_imports = 2
lines_between_types = 1
profile = "black"

#Pylint section
[tool.pylint]
[tool.pylint.master]
ignore='old_test/*.py'


[tool.pylint.'BASIC']
const-naming-style=['snake_case', 'UPPER_CASE']
module-naming-style='camelCase'
class-naming-style='PascalCase'

[tool.pylint.'MESSAGES CONTROL']
disable = ['I1101', 'C0114', 'C0115', 'C0116']